<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>글 목록</title>
  </head>
  <body>
    <%- include('nav.html') %>
    <table>
      <div class="title-space">작성 글 목록</div>
      <thead>
        <tr class="title-tr">
          <th>제목</th>
          <th>작성자</th>
          <th>날짜</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < posts.length; i++) { %>
        <a href="/write">
          <tr>
            <td><%= posts[i].제목 %></td>
            <td><%= posts[i].작성자 %></td>
            <td><%= posts[i].날짜 %></td>
          </tr>
        </a>

        <% } %>
      </tbody>
    </table>
  </body>
</html>
