<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <div class="title">
        <h1>Title</h1>
      </div>
      <div class="navBar">
        <div class="navItem none"><a href="/">Home</a></div>
        <div class="navItem active"><a href="/write">글 쓰기</a></div>
        <div class="navItem none"><a href="#">Nav3</a></div>
        <div class="navItem"><a href="#">invisible</a></div>
      </div>
    </div>
  </body>
</html>
